<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define ProductName = "Rebel Cleaner and Optimizer"?>
  <?define ProductCode = "{2D116C25-56DC-40BE-B8F9-5CBF9C23D1DD}"?>
  <?define UpgradeCode = "{3E7BB0A7-19E0-4C34-98F4-E412EED5BB47}"?>
  <?define ProductVersion = "1.1.0.0"?>
  <?define InitialProductVersion = "1.0.0.0"?>
  
	<Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Joshua Shane Martin" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Language="1033"
                      Property="NEWPRODUCTFOUND" />
      <UpgradeVersion Minimum="$(var.InitialProductVersion)"
                      IncludeMinimum="yes"
                      Maximum="$(var.ProductVersion)"
                      IncludeMaximum="no"
                      Language="1033"
                      Property="UPGRADEFOUND" />
    </Upgrade>
    
    <!-- Require .NET Framework 3.5 -->
    <PropertyRef Id="NETFRAMEWORK35"/>

    <!-- Message displayed when .NET requirement is not met. -->
    <Condition Message="This application requires at least the .NET Framework 3.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK35]]>
    </Condition>

    <!-- Default icon. -->
    <Icon Id="ICON.ICO" SourceFile="$(var.Rebel.TargetPath)" />

    <!-- Standard variable for the Add + Remove Programs icon. -->
    <Property Id="ARPPRODUCTICON" Value="ICON.ICO" />
    
		<MediaTemplate EmbedCab="yes" />

    <!-- Install a Start Menu shortcut. -->
    <DirectoryRef Id="APPLICATIONPROGRAMSFOLDER">
      <Component Id="ApplicationShortcut" Guid="274ED1B3-3091-4906-A7F2-071CCDB9F8E1">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Rebel Cleaner and Optimizer"
              Target="[INSTALLFOLDER]Rebel.exe" WorkingDirectory="INSTALLFOLDER"
              Icon="ICON.ICO" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="APPLICATIONPROGRAMSFOLDER" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Only one feature comprises the whole application. -->
		<Feature Id="ProductFeature" Title="Rebel" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <!-- Launch the application after installation. -->
    <CustomAction Id="LaunchRebelExeFile" FileKey="RebelExeFile" ExeCommand="/initial" Return="asyncNoWait" />
    <InstallExecuteSequence>
      <Custom Action="LaunchRebelExeFile" After="InstallFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>
  
    <!-- Prevent downgrading -->
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
 
    <!-- Sequences -->
    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>
   
    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Create a folder in the Program Files folder called Rebel. -->
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Rebel" />
			</Directory>
      
      <!-- Create a folder under the Start Menu Programs folder. -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="APPLICATIONPROGRAMSFOLDER" Name="Rebel"/>
      </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
      <Component Id="RebelExeComponent" Guid="657221DC-4D92-4585-87B9-27B826690382">
        <!-- Main Executable File. -->
        <File Id="RebelExeFile" Source="$(var.Rebel.TargetPath)" KeyPath="yes" />
      </Component>

      <!-- Start Menu shortcut is a part of this component. -->
      <ComponentRef Id="ApplicationShortcut" />
		</ComponentGroup>
	</Fragment>
</Wix>